.ae_products_block {
	font: normal 11px/14px Arial, Verdana, sans-serif !important;
}

.ae_products_block li {
	float:left
}

.ae_products_block li img {
	border:1px solid #d1d1d1
}

.ae_block .ae_title_block, .ae_block h4 {
	padding: 6px 11px;
	font-size: 12px;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	text-transform: uppercase;
	background: #383838;
	font-weight: bold;
}

.ae_block ul {
	list-style-type: none;
}

.ae_block li a {
	display: block;
	color: #333;
}

#ae_featured-products_block_center li {
	margin-right:10px;
	padding:10px 0;
	width:126px;
	height:240px
}

#ae_featured-products_block_center li.last_item_of_line  {
	margin-right:0;
}

#ae_featured-products_block_center .s_title_block,  #ae_featured-products_block_center h5 {
	padding-top:5px;
	height:30px;
	font-size:12px;
	color:#222;
	padding-bottom: 0;
	font-weight:bold;
}

#ae_featured-products_block_center .product_image {
	display:block;
	position:relative;
	overflow:hidden
}

#ae_featured-products_block_center .product_image span.new {
	display: block;
	position: absolute;
	top: 15px;
	right:-30px;
	padding: 1px 4px;
	width: 101px;
	font-size:10px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform: rotate(45deg);
	background-color: #990000;
	transform: rotate(45deg);  /* Newer browsers */
}

#ae_featured-products_block_center .product_desc {max-height:45px;}
#ae_featured-products_block_center .product_desc,
#ae_featured-products_block_center .product_desc a {
	color:#666
}
#ae_featured-products_block_center .ae_lnk_more {
	display:inline;
	padding-right:10px;
	font-weight:bold;
	font-size:10px;
	color:#0088cc;
}
#ae_featured-products_block_center .ae_price_container {
	margin-top:10px;
	padding:0;
}
#ae_featured-products_block_center .ae_price {
	font-weight:bold;
	font-size:14px;
	color:#990000
}
#ae_featured-products_block_center li .ajax_add_to_cart_button {display:block !important;}
#ae_featured-products_block_center li span.exclusive {display:none;}

